select {
    width: 183px;
}

.container {
   text-align: center;
   background-color: cadetblue;
}
    


.jumbotron {
    height: 200px;
    column-count: 3;
    column-rule: 5px solid silver;
}

h1 {
    column-span: all;
    text-align: center;
    color: cadetblue;
}

h4 {
    padding-bottom: 0px;
    margin-bottom: 0px;
}