select {
    width: 183px;
}

.container {
   text-align: center;
   background-color: silver;
   height: 500px;
}
    
.moi {
    height: 300px;
    column-count: 3;
    column-rule: 5px solid silver;
    background-image: url(images/akan.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    column-span: all;
    text-align: center;
    color: silver;
}

h4 {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

p {
    color: white;
    text-size-adjust: 20px;
    margin: 15px;
}
